# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#output directories
bin/
build/

#gerenrated directories and file
cutest/CMakeFiles
cutest/CTestTestfile.cmake
cutest/Makefile
cutest/cmake_install.cmake
efio/
evds/CMakeFiles/
evds/CTestTestfile.cmake
evds/cmake_install.cmake
evds/testsuite/CMakeFiles/
evds/testsuite/CTestTestfile.cmake
evds/testsuite/Makefile
evds/testsuite/cmake_install.cmake
evglobals/CMakeFiles/
evglobals/CTestTestfile.cmake
evglobals/cmake_install.cmake
evglobals/testsuite/CMakeFiles/
evglobals/testsuite/CTestTestfile.cmake
evglobals/testsuite/Makefile
evglobals/testsuite/cmake_install.cmake
evio/CMakeFiles/
evio/CTestTestfile.cmake
evio/cmake_install.cmake
evio/testsuite/CMakeFiles/
evio/testsuite/CTestTestfile.cmake
evio/testsuite/Makefile
evio/testsuite/cmake_install.cmake
evsync/CMakeFiles/
evsync/CTestTestfile.cmake
evsync/cmake_install.cmake
evthrpool/CMakeFiles/
evthrpool/CTestTestfile.cmake
evthrpool/cmake_install.cmake
evthrpool/testsuite/CMakeFiles/
evthrpool/testsuite/CTestTestfile.cmake
evthrpool/testsuite/Makefile
evthrpool/testsuite/cmake_install.cmake
build
